@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme{
    --color-devstack-primary: #db2777FF;
}

*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.active{
    font--color: #db2777FF;
}