@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-devstack-primary: #db2777FF;
}

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.text-linear-gradient {
    background-image: linear-gradient(to right, rgba(255, 87, 34, 1) 0%,rgba(216, 27, 126, 1) 50%,rgba(124, 58, 237, 1) 100%);
    color: transparent;
    background-clip: text;

}

.background-linear-gradient {
    background: linear-gradient(to right, rgba(249, 115, 22, 1) 0%,rgba(236, 72, 153, 1) 100%); 
}